@model IEnumerable<Tax_Reminder.Models.DiscDesignModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}
    
    
    <p>@Html.ActionLink("Contact Us", "GeneratePDF", "DiscDesign")</p>
</table>
